body {
    background-image: url('photos/Quantum.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}

.login-box {
    width: 317.138px;
    height: 100vh;
    margin-top: 60px;
    margin-right: -10px;
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.35);
}

.header {
    width: 317.138px;
    height: 104.217px;
    background-color: #fff;
    margin: -20px;
}

.logo {
    width: 317.138px;
    height: 104.217px;
    text-align: center;
    padding-top: 30px;
}
.login-box-inner{
    width: 317.138px;
    height: 510.517px;
    margin-left: -21px;
    text-align: center;
    justify-content: center;
}
.login-box-inner form{
    margin-top: 55px;
}

.mb-3{
    display: flex;
    margin-left: 15px;
    
}

.inner-group-action{
    width: 40px;
    height: 42px;
    margin-left: 10px;
    border: 1px #fff;
    background-color: rgba(128, 128, 128, 0.35);
    

}
.inner-group-action i{
    margin-top: 10px;
    color: #fff;
}

#exampleInputEmail1{
    width: 228px;
    height: 42px;
 
}
#exampleInputEmail2{
    margin-left: 12px;
    width: 267px;
    height: 42px;
    text-align: center;
 
}
.d-grid{
    margin-left: 27px;
    width: 267px;
    height: 42px;
}
.login-forget-link{
    margin-left: 148px;
    text-decoration: none;
    color:#fff;
    font-size: small;
}
.login-forget-link1{
    margin-left: 190px;
    text-decoration: none;
    color:#fff;
    font-size: small;
}
.card-footer{
    color: #fff;
}
.card-footer p{
    margin-top: 17px;
}

@media (max-width: 320px) {
    .login-box {
        width: 95%;
        height: auto;
        margin-top: 5px;
    }
    .header {
        height: 40px;
    }
    .logo {
        width: 95%;
        height: 40px;
    }
}
